h2 {
    display: inline-block;
color: white;
font-size: 70px;
margin-left: 650px;
    background-color: deepskyblue;
    

}
.liberal {
    display: inline-block;
    color: white;
    font-size: 40;
    background-color: deepskyblue;
    position: absolute;
    left: 50px;
    bottom: 350px;
}
.right {
    display: inline-block;
    color: white;
    font-size: 40;
    background-color: deepskyblue;
    position: absolute;
    right: 50px;
    bottom: 350px;
}
img {
scale: 0.5;
    left: 80px;
}




